.venv/
db_manager.py
db_manager.ipynb
form_app.db
correos.xlsx
Control_Electricos.csv
__pycache__/
.env
.vscode/
listado_electivos_2024_3_medio.csv
consolidar_tablas_electivos.pbix
listado_electivos/
docs/